name: CI for AnzuSystems Common Bundle by Petit Press a.s. (www.sme.sk)

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        include:
          - php-version: 8.3
            docker-image: 'anzusystems/php:4.1.0-php83-cli'
          - php-version: 8.4
            docker-image: 'anzusystems/php:4.1.0-php84-cli'

    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: admin
          MYSQL_DATABASE: commonbundle
      redis:
        image: redis:7.2
        ports:
          - 6379:6379
      mongo:
        image: mongo:8.0
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: admin

    name: PHP ${{ matrix.php-version }}
    runs-on: ubuntu-latest
    container: ${{ matrix.docker-image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Validate composer.json
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-${{ matrix.php-version }}-composer-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-ansi --no-interaction --no-scripts

      - name: Run Security check
        run: |
          composer config audit.abandoned report
          composer audit --locked --no-scripts --no-ansi

      - name: Run ECS style check
        run: vendor/bin/ecs check -vv

      - name: Run PSALM static analysis
        run: vendor/bin/psalm

      - name: Run PHPUnit tests
        env:
          ANZU_MONGODB_APP_LOG_URI: 'mongodb://mongo:27017'
          ANZU_MONGODB_AUDIT_LOG_URI: 'mongodb://mongo:27017'
          DB_COMMONBUNDLE_URL: 'mysql://root:admin@mysql:3306/commonbundle?serverVersion=8.0'
          REDIS_HOST: 'redis'
        run: vendor/bin/phpunit
